canvas {
    display:block;
    margin: 0;
   padding: 0;
}

body {
    margin:0;
    position: fixed;
    background-color: white;/*#00cfbb;*/
}
i {
   line-height: 60px;
   font-size:60px;
}
.tempHidden {
    display: none;
}

.textOverImageText {
    position:relative;
    top:50px;

}

.textOverImage {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;


    position:absolute;
    /*text-align:center;*/
    /*width:100%;*/
    /*margin-left:-20px;*/
    background-color:black;width:400px;height:200px;
    opacity:.1;
    transition: opacity .45s ease-in-out;
   -moz-transition: opacity .45s ease-in-out;
   -webkit-transition: opacity .45s ease-in-out;
    /*display:none;*/
}
.textOverImage:hover {
    background-color:black;
    color:white;
    position:absolute;
    text-align:center;
    margin:auto;
    /*width:100%;*/
    opacity:.8;
    text-color:white;
    /*margin-left:-20px;*/
}


.projectImage {
    width:400px;height:200px;

    /*width:30%;height:10%;*/

    opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.projectImage:hover {


}


.projectTitle {

    position: relative;
    top: 10%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%);
    text-align:center;
    font-size:30px;



}

.projects {

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.projectsTop {
     -webkit-transition-duration: 1400ms;
    transition-duration: 1400ms;
    background-color:black;
    width:400px;height:200px;

}

.projectsBottom {
    /*background-color:black;width:400px;height:200px;*/
}
.projectsHidden {
    opacity:0;
}


@keyframes changeColor {
    0% {
        color:red;
    }
    20% {
        color:blue;
    }
    40% {
        color:green;
    }
    60% {
        color:red;
    }
    80% {
        color:green;
    }
    100% {
        color:black;
    }


}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size:15;
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.email {
    color:black;
    transition-duration:200ms;

}
.email:hover {
    color:teal;
    transition-duration:200ms;
}

.info {

    margin-top:30px;

    text-align:center;
    font-size:15px;

}

.hidden {
    display:none;
}

.profileImage {
   
    min-width: 200px;
    min-height: 200px;
    width: 15vw;
    height: 15vw;
    
}


.slideRight {
    -webkit-transition-duration: 1400ms;
    transition-duration: 1400ms;
    transform: translate(100%);
}
.slideLeft {
    -webkit-transition-duration: 1400ms;
    transition-duration: 1400ms;
    transform: translate(-100%);
}


.slideUp {
    -webkit-transition-duration: 1400ms;
    transition-duration: 1400ms;
    transform: translate(0,-100%);
}
.slideDown {
    -webkit-transition-duration: 1400ms;
    transition-duration: 1400ms;
    transform: translate(0,100%);
}


.slideOn {
    -webkit-transition-duration: 1400ms;
    transition-duration: 1400ms;
    transform: translate(0%);
}


.translateLeft {
    -webkit-transition-duration: 0ms;
    transition-duration: 0ms;
    transform: translate(-100%);
}
.translateRight {
    -webkit-transition-duration: 0ms;
    transition-duration: 0ms;
    transform: translate(100%);
}

.mainPageStart {
    position: absolute; left: 0px; top: 100%; width:100%;height:100%;
}
.mainPage {
    position: absolute; left: 0px; top: 0%; width:100%;height:100%;
}

#aboutMe {
    position: absolute; left: 100%; top: 0px; width:100%;height:100%;

}
#projects {
    position: absolute; left: 0%; top: -100%; width:100%;height:100%;

}
#contactMe {
    position: absolute; left: -100%; top: 0px; width:100%;height:100%;

}
.aboutMeTitle {
    text-align:center;
    padding-top:5%;
}
.title {


    position: relative;
    top: 25%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
    font-size:30px;
}
.lower {
        font-size: 14px;
        font-size: 30px;

    }
.courier {
    font-weight: lighter;
    font-family: courier new;

}
.buttons {
    width:100%;
    position: relative;
    top: 25%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
}
.socialIcons {

    width:100%;
    position: relative;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
    opacity:.5;
}

.left{float:left;width:100px;margin-left:25%;}
.right{float:right;width:100px;margin-right:25%;}
.center{margin:0 auto;width:100px;}

@media only screen and (max-device-width: 480px) {
.header{
    font-size:100px;
}
.lower{
    font-size:50px;
}


.courier {
    font-weight: lighter;
    font-family: courier new;


}
.buttons {
    width:100%;
    position: relative;
    top: 40%;
    font-size:40px;
    -webkit-transform:   translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
}
.socialIcons {
    font-size:35px;
    width:100%;
    position: relative;
    top: 65%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
    opacity:.5;
}

.left{float:left;width:300px;margin-left:2%;}
.right{float:right;width:300px;margin-right:2%;}
.center{margin:0 auto;width:0px;}

.aboutMeBlock{
    font-size:40px;
    background-color:white;
}
.aboutMeTitle{
    margin-top:5%
}
.backButton{
    font-size:40px;
}
.email{
    font-size:50px;
    margin-bottom:15%;
}


@media only screen and (min-device-height: 800px) {
    .header{
        font-size:120px;
    }
    .buttons {
    width:100%;
    position: relative;
    top: 40%;
    font-size:40px;
    -webkit-transform:   translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
}
.socialIcons {
    font-size:50px;
    width:100%;
    position: relative;
    top: 65%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
    opacity:.5;
}



}

}



.clickable:hover {
    color:teal;
    cursor:pointer;
}

.left:hover {
    color:teal;
    cursor:pointer;
}
.right:hover{
    color:teal;
    cursor:pointer;
}

.center:hover {
    cursor:default;
}
.centerLower:hover{
    cursor:pointer;
    color:teal;
}



